.title {
  font-size: var(--text-h1);
  font-weight: 600;
  color: var(--color-white);
  margin: 60px 0 40px 40px;

  @media (max-width: 480px) {
    margin: 40px 0 30px 10px;
    font-size: var(--text-h2);
  }
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 440px);
  column-gap: 20px;
  row-gap: 40px;
  justify-content: center;
  list-style: none;
  margin: 0 0 40px 0;
  padding: 0;

  @media (max-width: 1320px) {
    grid-template-columns: repeat(2, 440px);
  }

  @media (max-width: 920px) {
    grid-template-columns: minmax(280px, 440px);
    justify-content: center;
  }
}
