.header_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  border-bottom: 1px solid #57575d;

  .logo {
    @media (max-width: 480px) {
      width: 44px;
      height: 53px;
    }
  }

  @media (max-width: 480px) {
    padding: 20px 10px 10px 10px;
  }
  .gradientBorder {
    color: var(--color-white);
    text-decoration: none;
    font-size: 16px;
    position: relative;
    display: inline-block;
    padding: 12px 20px;

    .feedback_text {
      position: relative;
      z-index: 3;
    }

    &::after {
      content: "";
      position: absolute;
      background: var(--color-black);
      z-index: 2;
      border-radius: 40px;
      inset: 0;
      transition: opacity 0.7s ease;
    }

    &::before {
      content: "";
      position: absolute;
      inset: -1px;
      z-index: 1;
      border-radius: 40px;
      background: var(--gradient);
      transition: opacity 0.2s ease;
    }

    &:hover::after {
      opacity: 0;
    }
  }
}
