@import "./variables.css";

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

:root {
  body {
    margin: 0;
    padding: 0;
    background-color: var(--color-black);
    font-family: var(--font-inter);
    color: var(--color-white);
  }
  .container {
    width: 100%;
    max-width: var(--container-width);
    margin: 0 auto;
  }
}
