.footer_gradient {
  width: 100%;
  background: var(--gradient);
  .footer_flex {
    display: flex;
    align-items: center;
    padding: 62px 40px;

    @media (max-width: 480px) {
      flex-direction: column;
      gap: 30px;
    }
    .text {
      flex: 1;
      text-align: center;
      margin: 0;
      text-transform: uppercase;
      font-size: var(--text-h2);
      font-weight: 600;
      transform: translateX(-40px);
    }
  }
}
